*{
    padding: 0px;
    margin: 0px;
  }
  body{
    font-family: "Poppins", sans-serif;
  }
  .links{
    display: flex;
    column-gap: 20px;
    
  }
  .links a{
    margin: 2px;
    padding: 5px;
    text-decoration: none;
    color:#1D232c;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:wheat;
    color:#1D232c;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
    
    
  }
  .links :hover{
    text-decoration:underline;
    color: black;
  }
  #h1{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
  }
  .p{
    display: flex;
    
   
  }
  .p img{
    height: 220px;
    width: 220px;
    padding: 10px;
    border-radius: 20px;
  }
  .p p{
    padding-top: 20px;
    padding-right: 60px;
  }
  .p a{
    text-decoration: none;
    color: #1D232c;
  }
  .p{
    background-color: #d3d3d3;
  }
 .p{
    width: 40%;
    margin-left: 5px;
    border-radius: 30px;
 }
 .p b{
    margin: 10px;
    padding-top: 20px;

}

 body{
    background-color: #cec3eb;
 }
 .p:hover{
    background-color: pink;
 }
 .p p{
    margin-left: 10px;
    margin-bottom: 70px ;
 }
 .k{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15px;
 }
 .end{
    color: black;
    padding: 20px;
    background-color: #ffb07c;
  }
  .end i{
    padding: 5px;
    margin: 0px;
    
  }
  .icons{
    display: flex;
    justify-content: flex-end;
  }
  .end i:hover{
    cursor: pointer;
  }
  .t{
    display: none;
  }
  @media screen and (max-width:600px){
    .p img{
        height:100px;
        width:100px;
      
  }
  .p p{
    margin-bottom:10px ;
    margin-left: 1px;
 }
 .p{
    display:inline-block;

   
  }
  .p p{
    display: none;
  }
  .t{
    display: block;
  }
  .t a{
    text-decoration: none;
    color:#1D232c;
  }
  
}
  